
version: "3.6"

services:
  rabbitmq:
    image: rabbitmq:4.2-management
    container_name: rabbitmq
    hostname: localhost
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    networks:
      - app-network
    restart: unless-stopped

  x-mongo-env:
    env_file: [ .env ]
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DB}?authSource=admin

  mongodb:
    image: mongo:7
    env_file: [ .env ]
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db


volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge
